.header {
  background-color: brown;
  height: 70px;
}
.container {
  width: 1140px;
  background-color: burlywood;
  margin: auto;
}
.logo {
  float: left;
  margin-top: 5px;
  margin-right: 150px;
}
.list ul li {
  float: left;
  margin-right: 40px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 70px;
  color: rgb(1, 1, 34);
}
.list ul li:hover {
  cursor: pointer;
  color: salmon;
  text-shadow: 0 0 1px white;
  transition: 0.5s;
}

.list ul li.active {
  color: salmon;
  text-shadow: 0 0 1px white;
}
